@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');


body::before {
  content: '';
  display: block;
  height: 60px;
}

body {
  font-family: 'Roboto', sans-serif;
}

#box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.testing {
  background-color: rgb(3, 26, 26);
}